@font-face {
  font-family: "Amboy";
  src: url("../fonts/Amboy/Amboy-Black.otf") format("truetype");
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura/FuturaPTBook.otf") format("truetype");
}
@font-face {
  font-family: "Alegreya";
  src: url("../fonts/Alegreya/AlegreyaSansSC-Black.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-BlackItalic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Bold.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-BoldItalic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-ExtraBold.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Italic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Light.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-LightItalic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Medium.ttf") format("truetype");
}
#wpadminbar {
  background-color: #0B3B55;
}
#wpadminbar * {
  font-family: "Amboy";
}
#wpadminbar .ab-top-menu > li.hover > .ab-item, #wpadminbar .nojq .quicklinks .ab-top-menu > li > .ab-item:focus, #wpadminbar :not(.mobile) .ab-top-menu > li:hover > .ab-item, #wpadminbar :not(.mobile) .ab-top-menu > li > .ab-item:focus {
  background-color: #115a82;
  color: white;
}
#wpadminbar .menupop .ab-sub-wrapper, #wpadminbar .shortlink-input {
  background-color: #115a82;
}

#adminmenu {
  margin-top: 0;
}

#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap {
  background-color: #0B3B55;
  font-family: "Amboy";
  width: 250px;
}

#wpcontent, #wpfooter {
  margin-left: 250px;
}

#adminmenu .wp-submenu {
  left: 250px;
}

#adminmenu li.menu-top:hover, #adminmenu li.opensub > a.menu-top, #adminmenu li > a.menu-top:focus {
  background-color: #115a82;
  color: white;
}

#adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover, #adminmenu a:hover, #adminmenu li.menu-top > a:focus {
  color: white;
}

#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head, #adminmenu .wp-menu-arrow, #adminmenu .wp-menu-arrow div, #adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, .folded #adminmenu li.current.menu-top, .folded #adminmenu li.wp-has-current-submenu {
  background-color: #F1951B;
  color: white;
}

#adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu .wp-has-current-submenu .wp-submenu.sub-open, #adminmenu .wp-has-current-submenu.opensub .wp-submenu, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu, .no-js li.wp-has-current-submenu:hover .wp-submenu {
  background-color: #f4ab4b;
}

#adminmenu li a:focus div.wp-menu-image:before, #adminmenu li.opensub div.wp-menu-image:before, #adminmenu li:hover div.wp-menu-image:before {
  color: white;
}

#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a, #wpadminbar .quicklinks .menupop ul li a:focus, #wpadminbar .quicklinks .menupop ul li a:focus strong, #wpadminbar .quicklinks .menupop ul li a:hover, #wpadminbar .quicklinks .menupop ul li a:hover strong, #wpadminbar .quicklinks .menupop.hover ul li a:focus, #wpadminbar .quicklinks .menupop.hover ul li a:hover, #wpadminbar .quicklinks .menupop.hover ul li div[tabindex]:focus, #wpadminbar .quicklinks .menupop.hover ul li div[tabindex]:hover, #wpadminbar li #adminbarsearch.adminbar-focused:before, #wpadminbar li .ab-item:focus .ab-icon:before, #wpadminbar li .ab-item:focus:before, #wpadminbar li a:focus .ab-icon:before, #wpadminbar li.hover .ab-icon:before, #wpadminbar li.hover .ab-item:before, #wpadminbar li:hover #adminbarsearch:before, #wpadminbar li:hover .ab-icon:before, #wpadminbar li:hover .ab-item:before, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover {
  color: white;
}

#wpadminbar:not(.mobile) > #wp-toolbar a:focus span.ab-label, #wpadminbar:not(.mobile) > #wp-toolbar li:hover span.ab-label, #wpadminbar > #wp-toolbar li.hover span.ab-label {
  color: white;
}

#wp-admin-bar-wp-logo, #wpfooter {
  display: none;
}

.padding {
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.row .col {
  width: 150px;
  padding: 10px;
  cursor: pointer;
  font-size: 12px;
}
.row .col .folder {
  width: 100%;
  background-color: none;
  padding-top: 150px;
  position: relative;
  margin-bottom: 5px;
}
.row .col .folder .folder-content {
  border: 0px solid white;
  border-radius: 3px;
  background-image: url("../images/folder.png");
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100vh;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  z-index: 10000000;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  color: white;
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  min-height: calc(100vh - 200px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/*# sourceMappingURL=admin.css.map */
