@font-face {
  font-family: "Amboy";
  src: url("../fonts/Amboy/Amboy-Black.otf") format("truetype");
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura/FuturaPTBook.otf") format("truetype");
}
@font-face {
  font-family: "Alegreya";
  src: url("../fonts/Alegreya/AlegreyaSansSC-Black.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-BlackItalic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Bold.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-BoldItalic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-ExtraBold.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Italic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Light.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-LightItalic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Medium.ttf") format("truetype");
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  margin-top: 0;
  transition: all 0.5s ease;
}
header.hidden {
  opacity: 0;
  margin-top: calc(-1 * 70px);
}
header nav {
  background-color: white;
  z-index: 1000;
  height: 70px;
}
header nav > div.container {
  display: flex;
  padding: 0;
}
header nav > div.container #main-menu-logo {
  height: 70px;
  padding: 10px;
}
header nav > div.container #main-menu-logo img {
  height: 90%;
  width: auto;
}
header nav > div.container #main-menu-button {
  display: none;
}
header nav > div.container .top-menu {
  display: flex;
  list-style: none;
  margin: 0;
}
header nav > div.container .top-menu li a {
  font-size: 15px;
  font-family: "Amboy";
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px 0 25px;
  color: #0B3B55;
  position: relative;
}
header nav > div.container .top-menu li a::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 5px;
  background-color: #7DBEC0;
  transition: all 0.3s ease;
}
header nav > div.container .top-menu li a:hover {
  text-decoration: none;
  color: #7DBEC0;
}
header nav > div.container .top-menu li a:hover::before {
  width: 100%;
  left: 0;
}
header nav > div.container .top-menu li a > i, header nav > div.container .top-menu li a > span {
  /*color: white;*/
  display: flex;
  align-items: center;
}
header nav > div.container .top-menu li.current-menu-item a {
  color: #F1951B;
}
header nav > div.container .top-menu li.current-menu-item a::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #F1951B;
  transition: all 0.3s ease;
}
header nav #side-panel {
  min-height: calc(100vh - 70px);
  width: 0;
  position: fixed;
  top: 70px;
  background-color: white;
  display: none;
  border: 1px solid white;
}
header nav #side-panel .side-menu {
  margin: 0;
  border: 1px solid white;
}
header nav #side-panel .side-menu li {
  width: 100%;
}
header nav #side-panel .side-menu li a {
  width: 100%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 70px;
  font-family: "Amboy";
  color: #0B3B55;
  border: 1px solid white;
  padding: 10px;
}
header nav #side-panel .side-menu li a:hover {
  text-decoration: none;
  color: #7DBEC0;
  background-color: rgba(0, 0, 0, 0.1);
}
header nav #side-panel .side-menu li.current-menu-item a {
  color: #F1951B;
}

ul#main-menu {
  justify-content: flex-start;
  flex: 1;
}

ul#user-menu {
  justify-content: flex-end;
}

.threebar {
  cursor: pointer;
  position: relative;
  height: 70px;
  /* 22px * 3 + space between (11px * 2) */
  margin-top: calc(70px / 4);
  margin-left: calc(70px / 4);
}

.threebar .bar {
  position: absolute;
  width: calc(70px / 2);
  height: calc(70px / 10);
  background: #0B3B55;
  top: calc(70px / 5);
  transition: all 0.3s ease;
}

.threebar .bar:nth-child(1) {
  transform: translateY(-200%);
}

.threebar .bar:nth-child(3) {
  transform: translateY(200%);
}

.threebar.cross .bar:nth-child(1) {
  transform: rotate(45deg);
}

.threebar.cross .bar:nth-child(3) {
  transform: rotate(-45deg);
}

.threebar.cross .bar:nth-child(2) {
  opacity: 0;
}

@media screen and (max-width: 1199px) {
  header nav > div.container ul#main-menu {
    display: none;
  }
  header nav > div.container #main-menu-button {
    height: 70px;
    width: 70px;
    display: flex;
    color: #0B3B55;
    font-size: 15px;
  }
  header nav ul#user-menu {
    justify-content: flex-end;
    flex: 1;
  }
  header nav #side-panel {
    display: block;
    width: 300px;
    left: 0;
    transition: left 0.3s ease;
  }
  header nav #side-panel.collapse {
    left: -300px;
  }
}
@media screen and (max-width: 599px) {
  header nav #main-menu-logo {
    display: none;
  }
  header nav #user-menu a {
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
  header nav #side-panel {
    width: 100vw;
    left: 0;
    transition: left 0.3s ease;
  }
  header nav #side-panel.collapse {
    left: -100vw;
  }
}

/*# sourceMappingURL=header.css.map */
