@font-face {
  font-family: "Amboy";
  src: url("../fonts/Amboy/Amboy-Black.otf") format("truetype");
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura/FuturaPTBook.otf") format("truetype");
}
@font-face {
  font-family: "Alegreya";
  src: url("../fonts/Alegreya/AlegreyaSansSC-Black.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-BlackItalic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Bold.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-BoldItalic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-ExtraBold.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Italic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Light.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-LightItalic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Medium.ttf") format("truetype");
}
.loader {
  font-size: 12px;
  color: #aaa;
  width: 8em;
  height: 10em;
  transition: height 0.5s ease;
  overflow: hidden;
}
.loader.hidden {
  height: 0;
  margin-bottom: 0;
}

.cog {
  color: #0B3B55;
  -webkit-animation: cog-rotate 1s infinite linear;
  animation: cog-rotate 1s infinite linear;
}

.cog-counter {
  -webkit-animation: cog-rotate-counter 1s infinite linear;
  animation: cog-rotate-counter 1s infinite linear;
}

.cog-lg {
  font-size: 5em;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.cog-md {
  font-size: 3em;
}

.cog-sm {
  font-size: 1.5em;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
}

@-webkit-keyframes cog-rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes cog-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes cog-rotate-counter {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes cog-rotate-counter {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/*# sourceMappingURL=loader.css.map */
