@font-face {
  font-family: "Amboy";
  src: url("../fonts/Amboy/Amboy-Black.otf") format("truetype");
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura/FuturaPTBook.otf") format("truetype");
}
@font-face {
  font-family: "Alegreya";
  src: url("../fonts/Alegreya/AlegreyaSansSC-Black.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-BlackItalic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Bold.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-BoldItalic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-ExtraBold.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Italic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Light.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-LightItalic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Medium.ttf") format("truetype");
}
body {
  background-color: white;
  display: flex;
  align-items: center;
}

#login {
  width: 450px;
  max-width: 100%;
  padding: 30px;
}
#login a {
  font-family: "Amboy";
}
#login > h1 > a {
  width: unset;
  background-image: url("../images/logo_technobel_hor_web.png");
  background-size: auto 100%;
}
#login > p.message, #login #login_error {
  box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.3);
  border-radius: 0;
  font-family: "Futura";
}
#login #loginform {
  border: 1px solid #0B3B55;
  background-color: #0B3B55;
  border-radius: 0;
  color: white;
  box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.3);
  font-family: "Amboy";
}
#login #loginform input {
  border: 1px solid #0B3B55;
  border-radius: 0;
  box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.3);
  font-family: "Futura";
}
#login #loginform input#wp-submit {
  border: 3px solid white;
  font-family: "Amboy";
  background-color: white;
  color: #0B3B55;
  transition: all 0.3s ease;
}
#login #loginform input#wp-submit:hover, #login #loginform input#wp-submit:disabled {
  background-color: #0B3B55;
  color: white;
}
#login #loginform input#wp-submit:hover i, #login #loginform input#wp-submit:hover span, #login #loginform input#wp-submit:disabled i, #login #loginform input#wp-submit:disabled span {
  color: white;
}
#login #loginform input#wp-submit:active {
  transform: scale(0.95);
}

/*# sourceMappingURL=login.css.map */
