@font-face {
  font-family: "Amboy";
  src: url("../fonts/Amboy/Amboy-Black.otf") format("truetype");
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura/FuturaPTBook.otf") format("truetype");
}
@font-face {
  font-family: "Alegreya";
  src: url("../fonts/Alegreya/AlegreyaSansSC-Black.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-BlackItalic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Bold.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-BoldItalic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-ExtraBold.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Italic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Light.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-LightItalic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Amboy";
  src: url("../fonts/Amboy/Amboy-Black.otf") format("truetype");
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura/FuturaPTBook.otf") format("truetype");
}
@font-face {
  font-family: "Alegreya";
  src: url("../fonts/Alegreya/AlegreyaSansSC-Black.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-BlackItalic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Bold.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-BoldItalic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-ExtraBold.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Italic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Light.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-LightItalic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Medium.ttf") format("truetype");
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  margin-top: 0;
  transition: all 0.5s ease;
}
header.hidden {
  opacity: 0;
  margin-top: calc(-1 * 70px);
}
header nav {
  background-color: white;
  z-index: 1000;
  height: 70px;
}
header nav > div.container {
  display: flex;
  padding: 0;
}
header nav > div.container #main-menu-logo {
  height: 70px;
  padding: 10px;
}
header nav > div.container #main-menu-logo img {
  height: 90%;
  width: auto;
}
header nav > div.container #main-menu-button {
  display: none;
}
header nav > div.container .top-menu {
  display: flex;
  list-style: none;
  margin: 0;
}
header nav > div.container .top-menu li a {
  font-size: 15px;
  font-family: "Amboy";
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px 0 25px;
  color: #0B3B55;
  position: relative;
}
header nav > div.container .top-menu li a::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 5px;
  background-color: #7DBEC0;
  transition: all 0.3s ease;
}
header nav > div.container .top-menu li a:hover {
  text-decoration: none;
  color: #7DBEC0;
}
header nav > div.container .top-menu li a:hover::before {
  width: 100%;
  left: 0;
}
header nav > div.container .top-menu li a > i, header nav > div.container .top-menu li a > span {
  /*color: white;*/
  display: flex;
  align-items: center;
}
header nav > div.container .top-menu li.current-menu-item a {
  color: #F1951B;
}
header nav > div.container .top-menu li.current-menu-item a::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #F1951B;
  transition: all 0.3s ease;
}
header nav #side-panel {
  min-height: calc(100vh - 70px);
  width: 0;
  position: fixed;
  top: 70px;
  background-color: white;
  display: none;
  border: 1px solid white;
}
header nav #side-panel .side-menu {
  margin: 0;
  border: 1px solid white;
}
header nav #side-panel .side-menu li {
  width: 100%;
}
header nav #side-panel .side-menu li a {
  width: 100%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 70px;
  font-family: "Amboy";
  color: #0B3B55;
  border: 1px solid white;
  padding: 10px;
}
header nav #side-panel .side-menu li a:hover {
  text-decoration: none;
  color: #7DBEC0;
  background-color: rgba(0, 0, 0, 0.1);
}
header nav #side-panel .side-menu li.current-menu-item a {
  color: #F1951B;
}

ul#main-menu {
  justify-content: flex-start;
  flex: 1;
}

ul#user-menu {
  justify-content: flex-end;
}

.threebar {
  cursor: pointer;
  position: relative;
  height: 70px;
  /* 22px * 3 + space between (11px * 2) */
  margin-top: calc(70px / 4);
  margin-left: calc(70px / 4);
}

.threebar .bar {
  position: absolute;
  width: calc(70px / 2);
  height: calc(70px / 10);
  background: #0B3B55;
  top: calc(70px / 5);
  transition: all 0.3s ease;
}

.threebar .bar:nth-child(1) {
  transform: translateY(-200%);
}

.threebar .bar:nth-child(3) {
  transform: translateY(200%);
}

.threebar.cross .bar:nth-child(1) {
  transform: rotate(45deg);
}

.threebar.cross .bar:nth-child(3) {
  transform: rotate(-45deg);
}

.threebar.cross .bar:nth-child(2) {
  opacity: 0;
}

@media screen and (max-width: 1199px) {
  header nav > div.container ul#main-menu {
    display: none;
  }
  header nav > div.container #main-menu-button {
    height: 70px;
    width: 70px;
    display: flex;
    color: #0B3B55;
    font-size: 15px;
  }
  header nav ul#user-menu {
    justify-content: flex-end;
    flex: 1;
  }
  header nav #side-panel {
    display: block;
    width: 300px;
    left: 0;
    transition: left 0.3s ease;
  }
  header nav #side-panel.collapse {
    left: -300px;
  }
}
@media screen and (max-width: 599px) {
  header nav #main-menu-logo {
    display: none;
  }
  header nav #user-menu a {
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
  header nav #side-panel {
    width: 100vw;
    left: 0;
    transition: left 0.3s ease;
  }
  header nav #side-panel.collapse {
    left: -100vw;
  }
}
@font-face {
  font-family: "Amboy";
  src: url("../fonts/Amboy/Amboy-Black.otf") format("truetype");
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura/FuturaPTBook.otf") format("truetype");
}
@font-face {
  font-family: "Alegreya";
  src: url("../fonts/Alegreya/AlegreyaSansSC-Black.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-BlackItalic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Bold.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-BoldItalic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-ExtraBold.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Italic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Light.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-LightItalic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Medium.ttf") format("truetype");
}
.loader {
  font-size: 12px;
  color: #aaa;
  width: 8em;
  height: 10em;
  transition: height 0.5s ease;
  overflow: hidden;
}
.loader.hidden {
  height: 0;
  margin-bottom: 0;
}

.cog {
  color: #0B3B55;
  -webkit-animation: cog-rotate 1s infinite linear;
  animation: cog-rotate 1s infinite linear;
}

.cog-counter {
  -webkit-animation: cog-rotate-counter 1s infinite linear;
  animation: cog-rotate-counter 1s infinite linear;
}

.cog-lg {
  font-size: 5em;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.cog-md {
  font-size: 3em;
}

.cog-sm {
  font-size: 1.5em;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
}

@-webkit-keyframes cog-rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes cog-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes cog-rotate-counter {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes cog-rotate-counter {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@font-face {
  font-family: "Amboy";
  src: url("../fonts/Amboy/Amboy-Black.otf") format("truetype");
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura/FuturaPTBook.otf") format("truetype");
}
@font-face {
  font-family: "Alegreya";
  src: url("../fonts/Alegreya/AlegreyaSansSC-Black.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-BlackItalic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Bold.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-BoldItalic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-ExtraBold.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Italic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Light.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-LightItalic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Medium.ttf") format("truetype");
}
.navigation.pagination {
  background-color: transparent;
  border: unset;
  box-shadow: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.navigation.pagination h2.screen-reader-text {
  display: none;
}
.navigation.pagination .nav-links a, .navigation.pagination .nav-links span {
  color: #0B3B55;
  font-family: "Amboy";
  padding: 20px;
  font-size: 15px;
}
.navigation.pagination .nav-links a.current, .navigation.pagination .nav-links span.current {
  color: #F1951B;
}

@font-face {
  font-family: "Amboy";
  src: url("../fonts/Amboy/Amboy-Black.otf") format("truetype");
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura/FuturaPTBook.otf") format("truetype");
}
@font-face {
  font-family: "Alegreya";
  src: url("../fonts/Alegreya/AlegreyaSansSC-Black.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-BlackItalic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Bold.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-BoldItalic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-ExtraBold.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Italic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Light.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-LightItalic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Medium.ttf") format("truetype");
}
.tippy-box[data-theme~=tb] {
  border-radius: 0;
  background-color: #0B3B55;
}
.tippy-box[data-theme~=tb] * {
  color: white;
}
.tippy-box[data-theme~=tb] > .tippy-arrow::before {
  color: #0B3B55;
}

#media-search-input {
  height: 30px;
  margin: 5px 5px 0 0;
}

.media-views-heading {
  font-size: 12px;
}

.tb[type=checkbox].filled-in:not(:checked) + span:not(.lever):after {
  border: 2px solid #0B3B55;
  background-color: white;
  border-radius: 0;
  box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.3);
}
.tb[type=checkbox].filled-in:checked + span:not(.lever):after {
  border: 2px solid #0B3B55;
  background-color: #0B3B55;
  color: white;
  border-radius: 0;
  box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.3);
}

/* label color */
.tb.input-field label {
  color: white;
}

/* label focus color */
.tb.input-field input[type]:focus + label {
  color: white;
}

/* label underline focus color */
.tb.input-field input[type] {
  border-bottom: 1px solid white;
  color: white;
  /*box-shadow: 0 1px 0 0 $dark-blue;*/
}

/* label underline focus color */
.tb.input-field input[type]:focus {
  border-bottom: 1px solid white;
  color: white;
}

/* valid color */
.tb.input-field input[type].valid {
  border-bottom: 1px solid green;
  color: white;
  box-shadow: 0 1px 0 0 green;
}

/* invalid color */
.tb.input-field input[type].invalid {
  border-bottom: 1px solid red;
  color: white;
  box-shadow: 0 1px 0 0 red;
}

/* icon prefix focus color */
.tb.input-field .prefix.active {
  color: #0B3B55;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: white;
}

/* label color */
.tb-blue.input-field label {
  color: #0B3B55;
}

/* label focus color */
.tb-blue.input-field input[type]:focus + label {
  color: #0B3B55;
}

/* label underline focus color */
.tb-blue.input-field input[type] {
  border-bottom: 1px solid #0B3B55;
  color: #0B3B55;
  /*box-shadow: 0 1px 0 0 $dark-blue;*/
}

/* label underline focus color */
.tb-blue.input-field input[type]:focus {
  border-bottom: 1px solid #0B3B55;
  color: #0B3B55;
  box-shadow: 0 1px 0 0 #0B3B55;
}

/* valid color */
.tb-blue.input-field input[type].valid {
  border-bottom: 1px solid green;
  color: #0B3B55;
  box-shadow: 0 1px 0 0 green;
}

/* invalid color */
.tb-blue.input-field input[type].invalid {
  border-bottom: 1px solid red;
  color: #0B3B55;
  box-shadow: 0 1px 0 0 red;
}

/* icon prefix focus color */
.tb.input-field .prefix.active {
  color: #0B3B55;
}

.tippy-box[data-theme~=tb] {
  border-radius: 0;
  background-color: #0B3B55;
}
.tippy-box[data-theme~=tb] * {
  color: white;
}
.tippy-box[data-theme~=tb] > .tippy-arrow::before {
  color: #0B3B55;
}

#media-search-input {
  height: 30px;
  margin: 5px 5px 0 0;
}

.media-views-heading {
  font-size: 12px;
}

.screen-reader-text {
  display: none;
}

.blanc {
  color: white;
}

.bleufonce {
  color: #0B3B55;
}

.dropdown-content {
  background-color: #7DBEC0;
}

.screen-reader-text {
  display: none;
}

.blanc {
  color: white;
}

.bleufonce {
  color: #0B3B55;
}

.dropdown-content {
  background-color: #7DBEC0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #BBD8D9;
  font-family: "Futura";
  color: #0B3B55;
}

.tb-theme * {
  box-sizing: border-box;
}
.tb-theme :not(.media-modal) h1, .tb-theme :not(.media-modal) h2, .tb-theme :not(.media-modal) h3, .tb-theme :not(.media-modal) h4 {
  font-family: "Amboy";
}
.tb-theme .caret {
  fill: white;
}
.tb-theme h2 {
  color: #EC6250;
}
.tb-theme h3 {
  color: #F1951B;
}
.tb-theme .blanc {
  color: white;
}
.tb-theme h5, .tb-theme h6 {
  font-weight: bold;
}
.tb-theme ul {
  list-style: none;
  padding-left: 0;
}
.tb-theme a {
  text-decoration: none;
  color: #0B3B55;
}
.tb-theme a:hover {
  text-decoration: underline;
}
.tb-theme textarea {
  border-radius: 0;
  border: 2px solid #0B3B55;
  height: 10em;
}

.textarea-container {
  margin-bottom: 15px;
}
.textarea-container label {
  color: #0B3B55;
  font-size: 1rem;
  margin-bottom: 10px;
  display: block;
}

main > div {
  padding-top: calc(70px);
  background-color: white;
  padding-bottom: 20px;
}

.d-flex {
  display: flex;
}

.clickable {
  cursor: pointer;
}

.tb-card {
  border-radius: 0.25rem;
  border: 1px solid #0B3B55;
  position: relative;
  padding-top: 150%;
  transition: all 0.3s ease;
  margin: 0 -10px 10px -10px;
  transform: scale(0.95);
  background-color: white;
}
.tb-card.card-training {
  padding-top: 100%;
  border: unset;
}
.tb-card:hover {
  /*box-shadow: $box-shadow;*/
  transform: scale(1);
}
.tb-card.no-hover {
  border: unset;
  /*box-shadow: $box-shadow;*/
  transform: scale(0.95);
}
.tb-card .card-content {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}
.tb-card .card-content .card-top {
  height: 35%;
}
.tb-card .card-content .card-top.training-top {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100%;
  text-align: center;
}
.tb-card .card-content .card-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tb-card .card-content .card-center {
  height: 50%;
  padding: 0 10px;
  text-align: justify;
  overflow: hidden;
}
.tb-card .card-content .card-center p {
  font-size: 1.2rem;
}
.tb-card .card-content .card-center h5 {
  font-size: 1.2rem;
  text-align: left;
}
.tb-card .card-content div {
  font-size: 0.6rem;
}
.tb-card .card-content .card-bottom {
  height: 15%;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tb-card .card-content .card-bottom.right {
  text-align: right;
  justify-content: flex-end;
  padding-right: 20px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  flex: 1;
}
.tags:last-child {
  justify-content: flex-end;
}
.tags:last-child .tag {
  margin-left: 2px;
}
.tags:nth-of-type(1) {
  justify-content: flex-start;
}
.tags:nth-of-type(1) .tag {
  margin-right: 2px;
}
.tags .tag {
  font-family: "Alegreya";
  text-transform: uppercase;
  margin-top: 2px;
}
.tags .tag.skill {
  border: 3px solid white;
  padding: 2px;
}
.tags .tag.category {
  padding: 5px;
  color: white;
}

section#search {
  background-color: #0B3B55;
  min-height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
section#search .button-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

section {
  padding: 20px;
}

.container {
  position: relative;
}

button.tb {
  transition: all 0.3s ease;
  /*box-shadow: $box-shadow;*/
  border: 3px solid #EC6250;
  color: #ffffff;
  font-weight: bold;
  padding: 5px 10px;
  background-color: #EC6250;
  border-radius: 0.25rem;
  cursor: pointer;
}
button.tb i, button.tb span {
  transition: all 0.3s ease;
}
button.tb:hover, button.tb:disabled {
  background-color: #F1951B;
  border: 3px solid #F1951B;
  color: white;
}
button.tb:hover i, button.tb:hover span, button.tb:disabled i, button.tb:disabled span {
  color: white;
}
button.tb:active {
  box-shadow: unset;
  transform: scale(0.95);
}
button.tb:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  box-shadow: unset;
  transform: scale(0.95);
}
button.tb:active, button.tb:focus {
  outline: none;
}

.card.dark-blue * {
  color: white;
}

.card.dark-blue {
  background-color: #0B3B55;
}

.search-results {
  position: relative;
  padding-bottom: 20px;
}
.search-results .search-card {
  position: relative;
  animation: fadeIn 0.5s linear;
  animation-fill-mode: both;
}
.search-results .search-card .search-card-content {
  background-color: white;
  height: 100px;
  margin: 10px 30px;
  display: flex;
  padding: 5px;
  transition: all 0.3s ease;
  box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.3);
  position: relative;
  border-radius: 0.25rem;
}
.search-results .search-card .search-card-content::before {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  background-color: #F1951B;
  transition: all 0.3s ease;
  width: 0;
  left: 0;
}
.search-results .search-card .search-card-content:hover {
  transform: translate(20px);
}
.search-results .search-card .search-card-content:hover::before {
  width: 20px;
  left: -20px;
}
.search-results .search-card .search-card-content .search-card-content-img {
  width: 130px;
  overflow: hidden;
}
.search-results .search-card .search-card-content .search-card-content-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.search-results .search-card .search-card-content .search-card-content-info {
  flex: 1;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.search-results .search-card:nth-child(1) {
  animation-delay: 0.25s;
}

.search-results .search-card:nth-child(2) {
  animation-delay: 0.5s;
}

.search-results .search-card:nth-child(3) {
  animation-delay: 0.75s;
}

.search-results .search-card:nth-child(4) {
  animation-delay: 1s;
}

.search-results .search-card:nth-child(5) {
  animation-delay: 1.25s;
}

.search-results .search-card:nth-child(6) {
  animation-delay: 1.5s;
}

.search-results .search-card:nth-child(7) {
  animation-delay: 1.75s;
}

.search-results .search-card:nth-child(8) {
  animation-delay: 2s;
}

.search-results .search-card:nth-child(9) {
  animation-delay: 2.25s;
}

.search-results .search-card:nth-child(10) {
  animation-delay: 2.5s;
}

.search-results .search-card:nth-child(11) {
  animation-delay: 2.75s;
}

.search-results .search-card:nth-child(12) {
  animation-delay: 3s;
}

.search-results .search-card:nth-child(13) {
  animation-delay: 3.25s;
}

.search-results .search-card:nth-child(14) {
  animation-delay: 3.5s;
}

.search-results .search-card:nth-child(15) {
  animation-delay: 3.75s;
}

.search-results .search-card:nth-child(16) {
  animation-delay: 4s;
}

.search-results .search-card:nth-child(17) {
  animation-delay: 4.25s;
}

.search-results .search-card:nth-child(18) {
  animation-delay: 4.5s;
}

.search-results .search-card:nth-child(19) {
  animation-delay: 4.75s;
}

.search-results .search-card:nth-child(20) {
  animation-delay: 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    top: 100px;
  }
  75% {
    opacity: 0.5;
    top: 0;
  }
  100% {
    opacity: 1;
  }
}
button.inverse {
  background-color: #EC6250;
  color: white;
}
button.inverse i, button.inverse span {
  color: white;
}
button.inverse:hover, button.inverse:disabled {
  background-color: #F1951B;
  color: #fff;
}
button.inverse:hover i, button.inverse:hover span, button.inverse:disabled i, button.inverse:disabled span {
  color: #fff;
}

a.blk {
  display: block;
}
a.blk:hover {
  text-decoration: none;
}

.buttons {
  display: flex;
}
.buttons button {
  margin: 0 2px;
  width: 25%;
}

@media screen and (max-width: 1599px) {
  .tb-card .card-content .card-center h5 {
    font-size: 1rem;
  }
  .tb-card .card-content .card-center p {
    font-size: 1rem;
  }
  .tb-card .card-content div {
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 1399px) {
  .tb-card .card-content .card-center h5 {
    font-size: 1rem;
  }
  .tb-card .card-content .card-center p {
    font-size: 0.8rem;
  }
  .tb-card .card-content div {
    font-size: 0.35rem;
  }
}
@media screen and (max-width: 1199px) {
  .tb-card .card-content .card-center h5 {
    font-size: 1.3rem;
  }
  .tb-card .card-content .card-center p {
    font-size: 1.3rem;
  }
  .tb-card .card-content div {
    font-size: 1rem;
  }
}
@media screen and (max-width: 991px) {
  .tb-card .card-content .card-center h5 {
    font-size: 1rem;
  }
  .tb-card .card-content .card-center p {
    font-size: 1.1rem;
  }
  .tb-card .card-content div {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 599px) {
  .tb-card .card-content .card-center h5 {
    font-size: 1.2rem;
  }
  .tb-card .card-content .card-center p {
    font-size: 1.2rem;
  }
  .tb-card .card-content div {
    font-size: 0.8rem;
  }

  .buttons {
    display: flex;
    flex-direction: column;
  }
  .buttons button {
    margin: 2px 0;
    width: 100%;
  }
}
.tb-card {
  position: relative;
}

/* common */
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
  z-index: 2;
}

.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
  border: 5px solid #cc7a0d;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #F1951B;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  font: 700 18px/1 "Lato", sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
}

/* top left*/
.ribbon-top-left {
  top: -10px;
  left: -10px;
}

.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}

.ribbon-top-left::before {
  top: 0;
  right: 0;
}

.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}

.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}

/* top right*/
.ribbon-top-right {
  top: -10px;
  right: -10px;
}

.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}

.ribbon-top-right::before {
  top: 0;
  left: 0;
}

.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}

.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}

/* bottom left*/
.ribbon-bottom-left {
  bottom: -10px;
  left: -10px;
}

.ribbon-bottom-left::before,
.ribbon-bottom-left::after {
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.ribbon-bottom-left::before {
  bottom: 0;
  right: 0;
}

.ribbon-bottom-left::after {
  top: 0;
  left: 0;
}

.ribbon-bottom-left span {
  right: -25px;
  bottom: 30px;
  transform: rotate(225deg);
}

/* bottom right*/
.ribbon-bottom-right {
  bottom: -10px;
  right: -10px;
}

.ribbon-bottom-right::before,
.ribbon-bottom-right::after {
  border-bottom-color: transparent;
  border-right-color: transparent;
}

.ribbon-bottom-right::before {
  bottom: 0;
  left: 0;
}

.ribbon-bottom-right::after {
  top: 0;
  right: 0;
}

.ribbon-bottom-right span {
  left: -25px;
  bottom: 30px;
  transform: rotate(-225deg);
}

.tb-card p::before {
  display: none;
}

/*# sourceMappingURL=main.css.map */
