@font-face {
  font-family: "Amboy";
  src: url("../fonts/Amboy/Amboy-Black.otf") format("truetype");
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura/FuturaPTBook.otf") format("truetype");
}
@font-face {
  font-family: "Alegreya";
  src: url("../fonts/Alegreya/AlegreyaSansSC-Black.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-BlackItalic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Bold.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-BoldItalic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-ExtraBold.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Italic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Light.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-LightItalic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Medium.ttf") format("truetype");
}
.tippy-box[data-theme~=tb] {
  border-radius: 0;
  background-color: #0B3B55;
}
.tippy-box[data-theme~=tb] * {
  color: white;
}
.tippy-box[data-theme~=tb] > .tippy-arrow::before {
  color: #0B3B55;
}

#media-search-input {
  height: 30px;
  margin: 5px 5px 0 0;
}

.media-views-heading {
  font-size: 12px;
}

.tb[type=checkbox].filled-in:not(:checked) + span:not(.lever):after {
  border: 2px solid #0B3B55;
  background-color: white;
  border-radius: 0;
  box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.3);
}
.tb[type=checkbox].filled-in:checked + span:not(.lever):after {
  border: 2px solid #0B3B55;
  background-color: #0B3B55;
  color: white;
  border-radius: 0;
  box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.3);
}

/* label color */
.tb.input-field label {
  color: white;
}

/* label focus color */
.tb.input-field input[type]:focus + label {
  color: white;
}

/* label underline focus color */
.tb.input-field input[type] {
  border-bottom: 1px solid white;
  color: white;
  /*box-shadow: 0 1px 0 0 $dark-blue;*/
}

/* label underline focus color */
.tb.input-field input[type]:focus {
  border-bottom: 1px solid white;
  color: white;
}

/* valid color */
.tb.input-field input[type].valid {
  border-bottom: 1px solid green;
  color: white;
  box-shadow: 0 1px 0 0 green;
}

/* invalid color */
.tb.input-field input[type].invalid {
  border-bottom: 1px solid red;
  color: white;
  box-shadow: 0 1px 0 0 red;
}

/* icon prefix focus color */
.tb.input-field .prefix.active {
  color: #0B3B55;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: white;
}

/* label color */
.tb-blue.input-field label {
  color: #0B3B55;
}

/* label focus color */
.tb-blue.input-field input[type]:focus + label {
  color: #0B3B55;
}

/* label underline focus color */
.tb-blue.input-field input[type] {
  border-bottom: 1px solid #0B3B55;
  color: #0B3B55;
  /*box-shadow: 0 1px 0 0 $dark-blue;*/
}

/* label underline focus color */
.tb-blue.input-field input[type]:focus {
  border-bottom: 1px solid #0B3B55;
  color: #0B3B55;
  box-shadow: 0 1px 0 0 #0B3B55;
}

/* valid color */
.tb-blue.input-field input[type].valid {
  border-bottom: 1px solid green;
  color: #0B3B55;
  box-shadow: 0 1px 0 0 green;
}

/* invalid color */
.tb-blue.input-field input[type].invalid {
  border-bottom: 1px solid red;
  color: #0B3B55;
  box-shadow: 0 1px 0 0 red;
}

/* icon prefix focus color */
.tb.input-field .prefix.active {
  color: #0B3B55;
}

.tippy-box[data-theme~=tb] {
  border-radius: 0;
  background-color: #0B3B55;
}
.tippy-box[data-theme~=tb] * {
  color: white;
}
.tippy-box[data-theme~=tb] > .tippy-arrow::before {
  color: #0B3B55;
}

#media-search-input {
  height: 30px;
  margin: 5px 5px 0 0;
}

.media-views-heading {
  font-size: 12px;
}

.screen-reader-text {
  display: none;
}

.blanc {
  color: white;
}

.bleufonce {
  color: #0B3B55;
}

.dropdown-content {
  background-color: #7DBEC0;
}

.screen-reader-text {
  display: none;
}

.blanc {
  color: white;
}

.bleufonce {
  color: #0B3B55;
}

.dropdown-content {
  background-color: #7DBEC0;
}

/*# sourceMappingURL=overrides.css.map */
