@font-face {
  font-family: "Amboy";
  src: url("../fonts/Amboy/Amboy-Black.otf") format("truetype");
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura/FuturaPTBook.otf") format("truetype");
}
@font-face {
  font-family: "Alegreya";
  src: url("../fonts/Alegreya/AlegreyaSansSC-Black.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-BlackItalic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Bold.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-BoldItalic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-ExtraBold.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Italic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Light.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-LightItalic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Medium.ttf") format("truetype");
}
.navigation.pagination {
  background-color: transparent;
  border: unset;
  box-shadow: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.navigation.pagination h2.screen-reader-text {
  display: none;
}
.navigation.pagination .nav-links a, .navigation.pagination .nav-links span {
  color: #0B3B55;
  font-family: "Amboy";
  padding: 20px;
  font-size: 15px;
}
.navigation.pagination .nav-links a.current, .navigation.pagination .nav-links span.current {
  color: #F1951B;
}

/*# sourceMappingURL=pagination.css.map */
