.print-hidden {
  display: none !important;
}

.only-print {
  display: block;
}

main > div {
  padding-top: 0;
}

#field-thumbnail {
  height: 150px;
  width: auto;
}

/*# sourceMappingURL=print.css.map */
