@font-face {
  font-family: "Amboy";
  src: url("../fonts/Amboy/Amboy-Black.otf") format("truetype");
}
@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura/FuturaPTBook.otf") format("truetype");
}
@font-face {
  font-family: "Alegreya";
  src: url("../fonts/Alegreya/AlegreyaSansSC-Black.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-BlackItalic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Bold.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-BoldItalic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-ExtraBold.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Italic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Light.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-LightItalic.ttf") format("truetype"), url("../fonts/Alegreya/AlegreyaSansSC-Medium.ttf") format("truetype");
}
.only-print {
  display: none;
}

section .single-img-container img {
  width: 100%;
  height: auto;
}

section#search {
  background-color: #0B3B55;
}

.fotorama__nav {
  text-align: left !important;
}

aside > div {
  padding: 20px;
}

.tags .tag.skill {
  padding: 2px 2px 0 2px;
  margin-left: 2px;
}
.tags .tag.category {
  padding: 5px 5px 3px 5px;
  margin-right: 2px;
}

.badges img {
  height: 75px;
  width: auto;
}

.list .list-item {
  margin: 5px 0;
  border: 1px solid #0B3B55;
  display: flex;
  padding-right: 10px;
}
.list .list-item .img {
  padding: 5px;
  width: 65px;
  height: 100%;
  overflow: hidden;
}
.list .list-item .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.list .list-item .info {
  flex: 1;
}
.list .realisation {
  margin: 5px 0;
  border: 1px solid #0B3B55;
  padding: 10px;
}

.trainees {
  display: flex;
  flex-wrap: wrap;
}
.trainees .trainee {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
.trainees .trainee .img-container {
  height: 75px;
  width: 75px;
}
.trainees .trainee .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.training-header {
  position: relative;
  padding-top: 100%;
}
.training-header .training-header-inner {
  color: white;
  text-align: center;
  top: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.socials {
  margin: 20px 0 20px 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.socials a {
  border: 3px solid #0B3B55;
  background-color: #0B3B55;
  border-radius: 0.25rem;
  height: 2.2rem;
  width: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  color: white;
}
.socials a:hover {
  cursor: pointer;
  text-decoration: none;
  border-color: #F1951B;
  background-color: #F1951B;
}
.socials a:hover > i {
  transition: all 0.3s ease;
}
.socials a.disabled, .socials a.disabled:hover {
  cursor: unset;
  border-color: lightgray;
  background-color: lightgray;
}
.socials a.disabled > i, .socials a.disabled:hover > i {
  color: white;
}

[contenteditable=true] {
  border: 2px solid #0B3B55;
  padding: 5px;
}

.image-editable {
  cursor: pointer;
  border: 2px solid #0B3B55;
  padding: 5px;
  position: relative;
}
.image-editable :hover::after {
  content: "chnager";
  position: absolute;
  top: 10px;
  right: 10px;
}

.tb-card .card-content .card-center h5 {
  font-size: 0.9rem;
}
.tb-card .card-content .card-center p {
  font-size: 0.9rem;
}
.tb-card .card-content div {
  font-size: 0.55rem;
}

.cv {
  font-size: 2.5rem;
}

.socials-share {
  display: flex;
  justify-content: flex-end;
}
.socials-share > * {
  margin-left: 10px;
  border-radius: 0.25rem;
}
.socials-share .fb-button {
  background-color: #4267b2;
  padding: 5px;
  color: white;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 0.25rem;
}
.socials-share .fb-button span, .socials-share .fb-button i {
  color: white;
}
.socials-share .print-button {
  background-color: #F1951B;
  padding: 5px;
  color: white;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 0.25rem;
}
.socials-share .print-button span, .socials-share .print-button i {
  color: white;
}
.socials-share .linkedin-button {
  background-color: #0073b1;
  padding: 5px;
  color: white;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 0.25rem;
}
.socials-share .linkedin-button span, .socials-share .linkedin-button i {
  color: white;
}

@media screen and (max-width: 1599px) {
  .tb-card .card-content .card-center h5 {
    font-size: 0.8rem;
  }
  .tb-card .card-content .card-center p {
    font-size: 0.7rem;
  }
  .tb-card .card-content div {
    font-size: 0.4rem;
  }
}
@media screen and (max-width: 1399px) {
  .tb-card .card-content .card-center h5 {
    font-size: 0.6rem;
  }
  .tb-card .card-content .card-center p {
    font-size: 0.55rem;
  }
  .tb-card .card-content div {
    font-size: 0.3rem;
  }
}
@media screen and (max-width: 1199px) {
  aside > div {
    padding: 0;
  }

  .tb-card .card-content .card-center h5 {
    font-size: 1.3rem;
  }
  .tb-card .card-content .card-center p {
    font-size: 1.3rem;
  }
  .tb-card .card-content div {
    font-size: 1rem;
  }
}
@media screen and (max-width: 991px) {
  .tb-card .card-content .card-center h5 {
    font-size: 1rem;
  }
  .tb-card .card-content .card-center p {
    font-size: 1.1rem;
  }
  .tb-card .card-content div {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 599px) {
  .tb-card .card-content .card-center h5 {
    font-size: 1.2rem;
  }
  .tb-card .card-content .card-center p {
    font-size: 1.2rem;
  }
  .tb-card .card-content div {
    font-size: 0.6rem;
  }
}
.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 340px;
  margin: auto;
}
.slider-container .control {
  font-size: 24px;
  cursor: pointer;
}

@media screen and (max-width: 599px) {
  .slider-container {
    width: unset;
  }
  .slider-container .control {
    display: none;
  }
}
@-webkit-keyframes animation {
  from {
    opacity: 0;
    -webkit-transform: scale(1.2) rotateX(45deg);
    transform: scale(1.2) rotateX(45deg);
  }
}
@-webkit-keyframes animation2 {
  from {
    opacity: 0;
    -webkit-transform: scale(1.2) rotateX(45deg);
    transform: scale(1.2) rotateX(45deg);
  }
}
.slider div p {
  color: #1c1c1c;
  position: absolute;
  bottom: -65px;
  font-size: 22px;
}

.slider {
  -webkit-animation: animation ease 1s;
  animation-delay: 0.8s;
  animation-fill-mode: backwards;
  margin: auto;
  height: 360px;
  width: 240px;
  padding: 20px 0;
  perspective: 1000px;
  transition: ease-in-out 0.2s;
  /*-webkit-transform:rotateX(45deg);
  -webkit-transform-style:preserve-3d;
      position:absolute;*/
}

/*.slider:active{ -webkit-transform:rotateZ(10deg);}*/
.slide > * {
  text-align: center;
  width: 100%;
}

.slide {
  position: absolute;
  height: 280px;
  width: 240px;
  cursor: grabbing;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  text-align: center;
  /*overflow:hidden;*/
  border: 12px white solid;
  box-sizing: border-box;
  border-bottom: 55px white solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.slide img {
  height: 100px;
  width: auto;
}
.slide.cube {
  background-color: #2b2d42;
  color: black;
}
.slide.video {
  background-color: #8d99ae;
  color: black;
}
.slide.document {
  background-color: #edf2f4;
  color: black;
}
.slide.website {
  background-color: #ef233c;
  color: black;
}
.slide.interview {
  background-color: #d90429;
  color: black;
}
.slide h4 {
  margin: 0;
}

.transition {
  -webkit-transition: cubic-bezier(0, 1.95, 0.49, 0.73) 0.4s;
  -moz-transition: cubic-bezier(0, 1.95, 0.49, 0.73) 0.4s;
  transition: cubic-bezier(0, 1.95, 0.49, 0.73) 0.4s;
}

.gallery {
  display: flex;
  padding: 2px;
  transition: 0.3s;
}
.gallery .inner:hover {
  filter: grayscale(1);
}
.gallery__column {
  display: flex;
  flex-direction: column;
  width: 33.3333%;
}
.gallery .outer {
  margin: 2px;
  overflow: hidden;
}
.gallery .outer:hover .gallery .inner {
  filter: grayscale(0);
}
.gallery .outer:hover .gallery__caption {
  opacity: 1;
}
.gallery__thumb {
  position: relative;
}
.gallery .inner {
  display: block;
  width: 100%;
  transition: 0.3s;
}
.gallery .inner:hover {
  transform: scale(1.1);
}
.gallery__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px 15px 15px;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: white;
  opacity: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  transition: 0.3s;
}

figure {
  margin: 0;
}

/*# sourceMappingURL=single.css.map */
