/*
Theme Name: Technobel
Author: BStorm
Version: 1.0
*/

@import 'assets/css/main.css';
.slider-container {
	width: 500px!important;
	margin: 50px auto!important;
}

.slider {
	height: 450px!important;
	width: 450px!important;
}

.slide {
	height: 450px!important;
	width: 450px!important;
}

@media screen and (max-width: 599px) {
	.slider-container {
	width: 250px!important;
	margin: 50px auto!important;
}

.slider {
	height: 250px!important;
	width: 250px!important;
}

.slide {
	height: 250px!important;
	width: 250px!important;
}
}

.forem {
	color: white;
	font-size: 0.6rem;
}

.forem-print {
	color: #0B3B55;
	font-weight: bolder;
}

.slide.git {
	background-color: #9F408F;
	color: black;
}

.realisations {
	width: 100%;
	border: 1px solid #0B3B55;
	border-radius: 0.25rem;
	padding: 5px;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-bottom: 10px;
	height: 270px;
	justify-content: space-between;
}

.realisations img, .realisations video, .realisations embed, .realisations object {
	max-width: 100%;
	height: auto;
	overflow:hidden !important;
	margin: 10px 0;
}

.buttons button, .buttons a {
	width: 20%;
}

.buttons a button {
	width: 100%;
}

@media screen and (max-width: 599px){
	.buttons button, .buttons a {
		width: 100%;
	}
}

.mb-1 {
	margin-bottom: 0.75rem;
}
