@font-face {
  font-family: 'Amboy';
  src: url('../fonts/Amboy/Amboy-Black.otf')  format('truetype');
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/Futura/FuturaPTBook.otf')  format('truetype');
}

@font-face {
  font-family: 'Alegreya';
  src: url('../fonts/Alegreya/AlegreyaSansSC-Black.ttf')  format('truetype'),
       url('../fonts/Alegreya/AlegreyaSansSC-BlackItalic.ttf')  format('truetype'),
       url('../fonts/Alegreya/AlegreyaSansSC-Bold.ttf')  format('truetype'),
       url('../fonts/Alegreya/AlegreyaSansSC-BoldItalic.ttf')  format('truetype'),
       url('../fonts/Alegreya/AlegreyaSansSC-ExtraBold.ttf')  format('truetype'),
       url('../fonts/Alegreya/AlegreyaSansSC-Italic.ttf')  format('truetype'),
       url('../fonts/Alegreya/AlegreyaSansSC-Light.ttf')  format('truetype'),
       url('../fonts/Alegreya/AlegreyaSansSC-LightItalic.ttf')  format('truetype'),
       url('../fonts/Alegreya/AlegreyaSansSC-Medium.ttf')  format('truetype');
}


$dark-blue: #0B3B55;
$blue: #7DBEC0;
$light-blue: #BBD8D9;
$orange: #F1951B;
$red: #EC6250;

$font-title: 'Amboy';
$font-default: 'Futura';
$font-tag: 'Alegreya';

$main-menu-height: 70px;

$box-shadow: 0px 3px 6px 0 rgba(0,0,0,0.3);

$primary-color: #7DBEC0 !default;
