@import 'variables';

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section#front-highlighted-projects {
  background-color: $blue;
  clip-path: polygon(0 20px, 100% 0, 100% calc(100% - 100px), 0 100%);
  padding-bottom: 80px;
}

section#search {
  background-color: $dark-blue;
}