@import "variables";

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  margin-top: 0;
  transition: all 0.5s ease;
  &.hidden {
    opacity: 0;
    margin-top: calc(-1 * #{$main-menu-height});
  }
  nav {
    background-color: white;
    z-index: 1000;
    height: $main-menu-height;
    >div.container {
      display: flex;
      padding: 0;
      #main-menu-logo {
        height: $main-menu-height;
        //background-color: white;
        padding: 10px;
        img {
          height: 90%;
          width: auto;
        }
      }
      #main-menu-button {
        display: none;
      }
      .top-menu {
        display: flex;
        list-style: none;
        margin: 0;
        li {
          a {
            font-size: 15px;
            font-family: $font-title;
            height: $main-menu-height;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 25px 0 25px;
            color: $dark-blue;
            position: relative;
            &::before {
              content: '';
              display: block;
              position: absolute;
              bottom: 0;
              left: 50%;
              width: 0;
              height: 5px;
              background-color: $blue;
              transition: all 0.3s ease;
            }
            &:hover {
              text-decoration: none;
              color: $blue;
            }
            &:hover::before {
              width: 100%;
              left: 0;
            }
            >i, >span {
              /*color: white;*/
              display: flex;
              align-items: center;
            }
          }
        }
        li.current-menu-item {
          a {
            color: $orange;
            &::before {
              content: '';
              display: block;
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 5px;
              background-color: $orange;
              transition: all 0.3s ease;
            }
          }
        }
      }
    }
    #side-panel {
      min-height: calc(100vh - #{$main-menu-height});
      width: 0;
      position: fixed;
      top: $main-menu-height;
      background-color: white;
      display: none;
      border: 1px solid white;
      .side-menu {
        margin: 0;
        border: 1px solid white;
        li {
          width: 100%;
          a {
            width: 100%;
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: $main-menu-height;
            font-family: $font-title;
            color: $dark-blue;
            border: 1px solid white;
            padding: 10px;
            &:hover {
              text-decoration: none;
              color: $blue;
              background-color: rgba(0,0,0,0.1);
            }
          }
        }
        li.current-menu-item a{
          color: $orange;
        }
      }
    }
  }
}

ul#main-menu {
  justify-content: flex-start;
  flex: 1;
}

ul#user-menu {
  justify-content: flex-end;
}

.threebar {
  cursor: pointer;
  position: relative;
  height: $main-menu-height; /* 22px * 3 + space between (11px * 2) */
  margin-top: calc(#{$main-menu-height} / 4);
  margin-left: calc(#{$main-menu-height} / 4);
}
.threebar .bar {
  position: absolute;
  width: calc(#{$main-menu-height} / 2);
  height: calc(#{$main-menu-height} / 10);
  background: $dark-blue;
  top: calc(#{$main-menu-height} / 5);
  transition: all 0.3s ease;
}
.threebar .bar:nth-child(1) {
  transform: translateY(-200%);
}
.threebar .bar:nth-child(3) {
  transform: translateY(200%);
}
.threebar.cross .bar:nth-child(1) {
  transform: rotate(45deg);
}
.threebar.cross .bar:nth-child(3) {
  transform: rotate(-45deg);
}
.threebar.cross .bar:nth-child(2) {
  opacity: 0;
}

@media screen and (max-width: 1199px) {
  header {
    nav {
      >div.container {
        ul#main-menu {
          display: none;
        }

        #main-menu-button {
          height: $main-menu-height;
          width: $main-menu-height;
          display: flex;
          color: $dark-blue;
          font-size: 15px;
        }
      }

      ul#user-menu {
        justify-content: flex-end;
        flex: 1;
      }

      #side-panel {
        display: block;
        width: 300px;
        left: 0;
        transition: left 0.3s ease;
        &.collapse {
          left: -300px;
        }
      }
    }
  }
}

@media screen and (max-width: 599px) {
  header {
    nav {
      #main-menu-logo {
        display: none;
      }

      #user-menu {
        a{
          font-size: 15px;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
      #side-panel {
        width: 100vw;
        left: 0;
        transition: left 0.3s ease;
        &.collapse {
          left: -100vw;
        }
      }
    }
  }
}
