@import "variables";
body {
  background-color: white;
  display: flex;
  align-items: center;
}
#login {
  width: 450px;
  max-width: 100%;
  padding: 30px;
  a {
    font-family: $font-title;
  }
  >h1{
    >a {
      width: unset;
      background-image: url('../images/logo_technobel_hor_web.png');
      background-size: auto 100%;
    }
  }
  >p.message, #login_error {
    box-shadow: $box-shadow;
    border-radius: 0;
    font-family: $font-default;
  }
  #loginform {
    border: 1px solid $dark-blue;
    background-color: $dark-blue;
    border-radius: 0;
    color: white;
    box-shadow: $box-shadow;
    font-family: $font-title;
    input {
      border: 1px solid $dark-blue;
      border-radius: 0;
      box-shadow: $box-shadow;
      font-family: $font-default;
      &#wp-submit {
        border: 3px solid white;
        font-family: $font-title;
        background-color: white;
        color: $dark-blue;
        transition: all 0.3s ease;
        &:hover, &:disabled {
          background-color: $dark-blue;
          color: white;
          i, span {
            color: white;
          }
        }
        &:active {
          transform: scale(0.95);
        }
      }
    }
  }
}
