@import "variables";
@import "header";
@import "loader";
@import "pagination";
@import "overrides";

body {
  margin: 0;
  padding: 0;
  background-color: $light-blue;
  font-family: $font-default;
  color: $dark-blue;
}

.tb-theme {
  * {
    box-sizing: border-box;
  }
  :not(.media-modal) {
    h1, h2, h3, h4{
      font-family: $font-title;
    }
  }
  .caret {
    fill: white;
  }
  h2 {
    color: $red;
  }
  h3 {
    color: $orange;
  }
 .blanc {
    color: white;
  }

  h5, h6 {
    font-weight: bold;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  a {
    text-decoration: none;
    color: $dark-blue;
    &:hover {
      text-decoration: underline;
    }
  }

  textarea {
    border-radius: 0;
    border: 2px solid $dark-blue;
    height: 10em;
  }
}

.textarea-container {
  margin-bottom: 15px;
  label {
    color: $dark-blue;
    font-size: 1rem;
    margin-bottom: 10px;
    display: block;
  }
}

main {
  >div {
    padding-top: calc(#{$main-menu-height});
    background-color: white;
    padding-bottom: 20px;
  }
}

.d-flex {
  display: flex;
}

.clickable {
  cursor: pointer;
}

.tb-card {
  border-radius: 0.25rem;
  border: 1px solid $dark-blue;
  position: relative;
  padding-top: 150%;
  transition: all 0.3s ease;
  margin: 0 -10px 10px -10px;
  transform: scale(0.95);
  background-color: white;
  &.card-training {
    padding-top: 100%;
    border: unset;
  }
  &:hover {
    /*box-shadow: $box-shadow;*/
    transform: scale(1);
  }
  &.no-hover {
    border: unset;
    /*box-shadow: $box-shadow;*/
    transform: scale(0.95);
  }
  .card-content {
    top:0;
    left: 0;
    position: absolute;
    height: 100%;
    //overflow: hidden;
    width: 100%;
    .card-top {
      &.training-top {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        height: 100%;
        text-align: center;
      }
      height: 35%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .card-center {
      height: 50%;
      padding: 0 10px;
      text-align: justify;
      overflow: hidden;
      p {
        font-size: 1.2rem;
      }
      h5 {
        font-size: 1.2rem;
        text-align: left;
      }
    }
    div {
      font-size: 0.6rem;
    }
    .card-bottom {
      height: 15%;
      padding: 0 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &.right {
        text-align: right;
        justify-content: flex-end;
        padding-right: 20px;
      }
    }
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  flex: 1;
  &:last-child {
    justify-content: flex-end;
    .tag {
      margin-left: 2px;
    }
  }
  &:nth-of-type(1) {
    justify-content: flex-start;
    .tag {
      margin-right: 2px;
    }
  }
  .tag {
    font-family: $font-tag;
    text-transform: uppercase;
    margin-top: 2px;
    &.skill {
      border: 3px solid white;
      padding: 2px;
    }
    &.category {
      padding: 5px;
      color: white;
    }
  }
}

section#search {
  background-color: $dark-blue;
  min-height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .button-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
}

section {
  padding: 20px;
}

.container {
  position: relative;
}

button.tb {
  transition: all 0.3s ease;
  /*box-shadow: $box-shadow;*/
  border: 3px solid $red;
  color: #ffffff;
  font-weight: bold;
  padding: 5px 10px;
  background-color: $red;
  border-radius: 0.25rem;
  cursor: pointer;
  i, span {
    transition: all 0.3s ease;
  }
  &:hover, &:disabled {
    background-color: $orange;
    border: 3px solid $orange;
    color: white;
    i, span {
      color: white;
    }
  }
  &:active {
    box-shadow: unset;
    transform: scale(0.95);
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    box-shadow: unset;
    transform: scale(0.95);
  }
  &:active,&:focus {
    outline:none;
  }
}

.card.dark-blue {
  * {
    color: white;
  }
}

.card.dark-blue {
  background-color: $dark-blue;
}

.search-results {
  position: relative;
  padding-bottom: 20px;
  .search-card {
    position: relative;
    animation: fadeIn 0.5s linear;
    animation-fill-mode: both;
    .search-card-content {
      background-color: white;
      height: 100px;
      margin: 10px 30px;
      display: flex;
      padding: 5px;
      transition: all 0.3s ease;
      box-shadow: $box-shadow;
      position: relative;
      border-radius: 0.25rem;
      &::before {
        content: '';
        position: absolute;
        height: 100%;
        top: 0;
        background-color: $orange;
        transition: all 0.3s ease;
        width: 0;
        left: 0;
      }
      &:hover {
        transform: translate(20px);
        &::before {
          width: 20px;
          left: -20px;
        }
      }
      //&:active {
      //  transform: scale(0.97);
      //}
      .search-card-content-img {
        width: 130px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .search-card-content-info {
        flex: 1;
        padding-left: 20px;
        display: flex;
        align-items: center;
      }
    }
  }
}

$total-items: 20;

@for $i from 1 through $total-items {
  .search-results {
    .search-card:nth-child(#{$i}) {
      animation-delay: .25s * $i;
    }
  }
}

// Keyframe animation
@keyframes fadeIn {
  0% {
    opacity: 0;
    top: 100px;
  }
  75% {
    opacity: 0.5;
    top: 0;
  }
  100% {
    opacity: 1;
  }
}

button.inverse {
  background-color: $red;
  color: white;
  i, span {
    color: white;
  }
  &:hover, &:disabled {
    background-color: $orange;
    color: #fff;
    i, span {
      color: #fff;
    }
  }
}

a.blk {
  display: block;
  &:hover {
    text-decoration: none;
  }
}

.buttons {
  display: flex;
  button {
    margin: 0 2px;
    width: 25%;
  }
}

@media screen and (max-width: 1599px){
  .tb-card {
    .card-content {
      .card-center {
        h5{
          font-size: 1rem;
        }
        p {
          font-size: 1rem;
        }
      }
      div {
        font-size: 0.5rem;
      }
    }
  }
}

@media screen and (max-width: 1399px){
  .tb-card {
    .card-content {
      .card-center {
        h5{
          font-size: 1rem;
        }
        p {
          font-size: 0.8rem;
        }
      }
      div {
        font-size: 0.35rem;
      }
    }
  }
}

@media screen and (max-width: 1199px){
  .tb-card {
    .card-content {
      .card-center {
        h5{
          font-size: 1.3rem;
        }
        p {
          font-size: 1.3rem;
        }
      }
      div {
        font-size: 1rem;
      }
    }
  }
}

@media screen and (max-width: 991px){
  .tb-card {
    .card-content {
      .card-center {
        h5{
          font-size: 1rem;
        }
        p {
          font-size: 1.1rem;
        }
      }
      div {
        font-size: 0.7rem;
      }
    }
  }
}

@media screen and (max-width: 599px){
  .tb-card {
    .card-content {
      .card-center {
        h5 {
          font-size: 1.2rem;
        }
        p {
          font-size: 1.2rem;
        }
      }
      div {
        font-size: 0.8rem;
      }
    }
  }
  .buttons {
    display: flex;
    flex-direction: column;
    button {
      margin: 2px 0;
      width: 100%;
    }
  }
}

.tb-card {
  position: relative;
}

/* common */
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
  z-index: 2;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid darken( $orange, 10% );
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: $orange;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
}

/* top left*/
.ribbon-top-left {
  top: -10px;
  left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}

/* top right*/
.ribbon-top-right {
  top: -10px;
  right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}

/* bottom left*/
.ribbon-bottom-left {
  bottom: -10px;
  left: -10px;
}
.ribbon-bottom-left::before,
.ribbon-bottom-left::after {
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.ribbon-bottom-left::before {
  bottom: 0;
  right: 0;
}
.ribbon-bottom-left::after {
  top: 0;
  left: 0;
}
.ribbon-bottom-left span {
  right: -25px;
  bottom: 30px;
  transform: rotate(225deg);
}

/* bottom right*/
.ribbon-bottom-right {
  bottom: -10px;
  right: -10px;
}
.ribbon-bottom-right::before,
.ribbon-bottom-right::after {
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.ribbon-bottom-right::before {
  bottom: 0;
  left: 0;
}
.ribbon-bottom-right::after {
  top: 0;
  right: 0;
}
.ribbon-bottom-right span {
  left: -25px;
  bottom: 30px;
  transform: rotate(-225deg);
}

.tb-card {
  p::before {
    display: none;
  }
}
