@import "variables";
.tippy-box[data-theme~='tb'] {
  border-radius: 0;
  background-color: $dark-blue;
  * {
    color: white;
  }
  > .tippy-arrow::before {
    color: $dark-blue;
  }
}

#media-search-input {
  height: 30px;
  margin: 5px 5px 0 0;
}

.media-views-heading {
  font-size: 12px;
}

.media-modal {

}
.tb[type="checkbox"].filled-in {
  &:not(:checked)+span:not(.lever):after{
    border: 2px solid $dark-blue;
    background-color: white;
    border-radius: 0;
    box-shadow: $box-shadow;
  }
  &:checked+span:not(.lever):after{
    border: 2px solid $dark-blue;
    background-color: $dark-blue;
    color: white;
    border-radius: 0;
    box-shadow: $box-shadow;
  }
}


/* label color */
.tb.input-field label {
  color: white;
}
/* label focus color */
.tb.input-field input[type]:focus + label {
  color: white;
}

/* label underline focus color */
.tb.input-field input[type] {
  border-bottom: 1px solid white;
  color: white;
  /*box-shadow: 0 1px 0 0 $dark-blue;*/
}

/* label underline focus color */
.tb.input-field input[type]:focus {
  border-bottom: 1px solid white;
  color: white;
  //box-shadow: 0 1px 0 0 $dark-blue;
}
/* valid color */
.tb.input-field input[type].valid {
  border-bottom: 1px solid green;
  color: white;
  box-shadow: 0 1px 0 0 green;
}
/* invalid color */
.tb.input-field input[type].invalid {
  border-bottom: 1px solid red;
  color: white;
  box-shadow: 0 1px 0 0 red;
}
/* icon prefix focus color */
.tb.input-field .prefix.active {
  color: $dark-blue;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: white;
}

/* label color */
.tb-blue.input-field label {
  color: $dark-blue;
}
/* label focus color */
.tb-blue.input-field input[type]:focus + label {
  color: $dark-blue;
}

/* label underline focus color */
.tb-blue.input-field input[type] {
  border-bottom: 1px solid $dark-blue;
  color: $dark-blue;
  /*box-shadow: 0 1px 0 0 $dark-blue;*/
}

/* label underline focus color */
.tb-blue.input-field input[type]:focus {
  border-bottom: 1px solid $dark-blue;
  color: $dark-blue;
  box-shadow: 0 1px 0 0 $dark-blue;
}
/* valid color */
.tb-blue.input-field input[type].valid {
  border-bottom: 1px solid green;
  color: $dark-blue;
  box-shadow: 0 1px 0 0 green;
}
/* invalid color */
.tb-blue.input-field input[type].invalid {
  border-bottom: 1px solid red;
  color: $dark-blue;
  box-shadow: 0 1px 0 0 red;
}
/* icon prefix focus color */
.tb.input-field .prefix.active {
  color: $dark-blue;
}

.tippy-box[data-theme~='tb'] {
  border-radius: 0;
  background-color: $dark-blue;
  * {
    color: white;
  }
  > .tippy-arrow::before {
    color: $dark-blue;
  }
}

#media-search-input {
  height: 30px;
  margin: 5px 5px 0 0;
}

.media-views-heading {
  font-size: 12px;
}

.media-modal {

}

.screen-reader-text {
  display: none;
}

.blanc {
  color: white;
}
.bleufonce {
  color: $dark-blue;
}
.dropdown-content {
  background-color: $blue;
}

.screen-reader-text {
  display: none;
}

.blanc {
  color: white;
}
.bleufonce {
  color: $dark-blue;
}
.dropdown-content {
  background-color: $blue;
}
