@import 'variables';
.navigation.pagination {
  background-color: transparent;
  border: unset;
  box-shadow: unset;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  h2.screen-reader-text {
    display: none;
  }
  .nav-links {
    a, span {
      color: $dark-blue;
      font-family: $font-title;
      padding: 20px;
      font-size: 15px;
      &.current {
        color: $orange;
      }
    }
  }
}