@import "variables";

.only-print {
  display: none;
}

section {
  .single-img-container {
    img {
      width: 100%;
      height: auto;
    }
  }
}

section#search {
  background-color: $dark-blue;
}


.fotorama__nav {
  text-align: left!important;
}

aside>div{
  padding: 20px;
}

.tags {
  .tag {
    &.skill {
      padding: 2px 2px 0 2px;
      margin-left: 2px;
    }
    &.category {
      padding: 5px 5px 3px 5px;
      margin-right: 2px;
    }
  }

}

.badges {
  img {
    height: 75px;
    width: auto;
  }
}

.list {
  .list-item {
    margin: 5px 0;
    border: 1px solid $dark-blue;
    display: flex;
    padding-right: 10px;
    .img{
      padding: 5px;
      width: 65px;
      height: 100%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .info {
      flex: 1;
    }
  }

  .realisation {
    margin: 5px 0;
    border: 1px solid $dark-blue;
    padding: 10px;
  }
}

.trainees {
  display: flex;
  flex-wrap: wrap;
  .trainee {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    .img-container {
      height: 75px;
      width: 75px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.training-header {
  position: relative;
  padding-top: 100%;
  .training-header-inner {
    color: white;
    text-align: center;
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
}

.socials {
  margin: 20px 0 20px 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  a {
    border: 3px solid $dark-blue;
    background-color: $dark-blue;
    border-radius: .25rem;
    height: 2.2rem;
    width: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    color: white;
    &:hover {
      cursor: pointer;
      text-decoration: none;
      border-color: $orange;
      background-color: $orange;
      >i {
        transition: all 0.3s ease;

      }
    }
    &.disabled, &.disabled:hover {
      cursor: unset;
      border-color: lightgray;
      background-color: lightgray;
      >i {
        color: white;
      }
    }
  }
}

[contenteditable=true] {
  border: 2px solid $dark-blue;
  padding: 5px;
}

.image-editable {
  cursor: pointer;
  border: 2px solid $dark-blue;
  padding: 5px;
  position: relative;
  :hover::after {
    content: 'chnager';
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.tb-card {
  .card-content {
    .card-center {
      h5{
        font-size: 0.9rem;
      }
      p {
        font-size: 0.9rem;
      }
    }
    div {
      font-size: 0.55rem;
    }
  }
}

.cv {
  font-size: 2.5rem;
}

.socials-share {
  display: flex;
  justify-content: flex-end;

  >* {
    margin-left: 10px;
    border-radius: .25rem;

  }
  .fb-button {
    background-color: #4267b2;
    padding: 5px;
    color: white;
    cursor: pointer;
    border: 1px solid white;
    border-radius: .25rem;
    span, i {
      color: white;
    }
  }
  .print-button {
    background-color: $orange;
    padding: 5px;
    color: white;
    cursor: pointer;
    border: 1px solid white;
    border-radius: .25rem;
    span, i {
      color: white;
    }
  }
  .linkedin-button {
    background-color: #0073b1;
    padding: 5px;
    color: white;
    cursor: pointer;
    border: 1px solid white;
    border-radius: .25rem;
    span, i {
      color: white;
    }
  }
}

@media screen and (max-width: 1599px){
  .tb-card {
    .card-content {
      .card-center {
        h5{
          font-size: 0.8rem;
        }
        p {
          font-size: 0.7rem;
        }
      }
      div {
        font-size: 0.4rem;
      }
    }
  }
}

@media screen and (max-width: 1399px){
  .tb-card {
    .card-content {
      .card-center {
        h5{
          font-size: 0.6rem;
        }
        p {
          font-size: 0.55rem;
        }
      }
      div {
        font-size: 0.3rem;
      }
    }
  }
}

@media screen and (max-width: 1199px){
  aside>div{
    padding: 0;
  }
  .tb-card {
    .card-content {
      .card-center {
        h5{
          font-size: 1.3rem;
        }
        p {
          font-size: 1.3rem;
        }
      }
      div {
        font-size: 1rem;
      }
    }
  }
}

@media screen and (max-width: 991px){
  .tb-card {
    .card-content {
      .card-center {
        h5{
          font-size: 1rem;
        }
        p {
          font-size: 1.1rem;
        }
      }
      div {
        font-size: 0.7rem;
      }
    }
  }
}

@media screen and (max-width: 599px){
  .tb-card {
    .card-content {
      .card-center {
        h5 {
          font-size: 1.2rem;
        }
        p {
          font-size: 1.2rem;
        }
      }
      div {
        font-size: 0.6rem;
      }
    }
  }
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 340px;
  margin: auto;
  .control {
    font-size: 24px;
    cursor: pointer;
  }
}

@media screen and (max-width: 599px) {
  .slider-container {
    width: unset;
    .control {
      display: none;
    }
  }
}

@-webkit-keyframes animation{from{opacity:0; -webkit-transform:scale(1.2) rotateX(45deg);transform:scale(1.2) rotateX(45deg);} to{ }}

@-webkit-keyframes animation2{from{opacity:0; -webkit-transform:scale(1.2) rotateX(45deg);transform:scale(1.2) rotateX(45deg);} to{ }}

.slider div p{color:#1c1c1c;position:absolute;bottom:-65px; font-size:22px;}
.slider{

  -webkit-animation:animation ease 1s;animation-delay:.8s;animation-fill-mode:backwards;


  margin: auto;
  height:360px;
  width:240px;
  padding:20px 0;

  perspective:1000px;
  transition:ease-in-out .2s;
  /*-webkit-transform:rotateX(45deg);
  -webkit-transform-style:preserve-3d;
      position:absolute;*/
}
/*.slider:active{ -webkit-transform:rotateZ(10deg);}*/


.slide > * { text-align:center;width:100%; }


.slide{
  position:absolute;
  height:280px;
  width:240px;
  cursor: grabbing;
  box-shadow: 0 10px 30px 0 rgba(0,0,0,0.3);
  -webkit-transform-style:preserve-3d;
  transform-style:preserve-3d;
  text-align:center;
  /*overflow:hidden;*/
  border:12px white solid;
  box-sizing:border-box;
  border-bottom:55px white solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  img {
    height: 100px;
    width: auto;
  }

  &.cube {
    background-color: #2b2d42;
    color: black;
  }
  &.video {
    background-color: #8d99ae;
    color: black;
  }
  &.document {
    background-color: #edf2f4;
    color: black;
  }
  &.website {
    background-color: #ef233c;
    color: black;
  }
  &.interview {
    background-color: #d90429;
    color: black;
  }

  h4 {
    margin: 0;
  }


}
.transition {
  -webkit-transition: cubic-bezier(0,1.95,.49,.73) .4s ;
  -moz-transition: cubic-bezier(0,1.95,.49,.73) .4s ;
  transition: cubic-bezier(0,1.95,.49,.73) .4s ;
}

.gallery {
  display: flex;
  padding: 2px;
  transition: .3s;

  .inner:hover {
    filter: grayscale(1);
  }

  &__column {
    display: flex;
    flex-direction: column;
    width: 33.3333%;
  }

  .outer {
    margin: 2px;
    overflow: hidden;

    &:hover {
      .gallery .inner {
        filter: grayscale(0);
      }

      .gallery__caption {
        opacity: 1;
      }
    }
  }

  &__thumb {
    position: relative;
  }

  .inner {
    display: block;
    width: 100%;
    transition: .3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 15px 15px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: white;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255 ,255 , 0) 100%);
    transition: .3s;
  }
}

figure {
  margin: 0;
}

